@font-face{
    font-family:voided;
    src:url(voided.ttf) format('truetype'),
    url(voided.woff) format('woff'),
    url(voided.woff2) format('woff2');
}
html{
    background-color: black;
}
body{
    background-color: rgb(45, 40, 50);
    color: rgb(178, 149, 255);
}
h1{
    font-family: voided, fantasy, serif;
    font-weight: normal;
    font-size: 20px;
}
img{
    background-color: white;
}
