@charset "utf-8";

@font-face{
    font-family:voided;
    src:url(voided.ttf) format('truetype'),
    url(voided.woff) format('woff'),
    url(voided.woff2) format('woff2');
}
html{
    
    background-color: rgb(178, 149, 255);
    background: linear-gradient(rgb(207, 29, 29)33%, rgb(245, 131, 131)67%, rgb(241, 241, 241)100%);
    background-size: cover;
    height: stretch;
    box-sizing: border-box;
    position: relative;
}
body{
    background-color: black;
    color: rgb(250, 250, 250);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
img{
    float: left;
    margin-right: auto;
    margin-left: auto;
    border: 100px;
    padding: 4em;
}
nav li{
    float: left;
    text-align: center;
    width: 14%;
    font-size: 20px;
    margin-top: 10px;
}
a{
    color: white;
}
section{
    margin: 4em;
}
img{
    left: 50%;
    top: 50%;
}
