@charset "utf-8";

@font-face{
    font-family:voided;
    src:url(voided.ttf) format('truetype'),
    url(voided.woff) format('woff'),
    url(voided.woff2) format('woff2');
}
html{
    background-color: rgb(178, 149, 255);
    background: linear-gradient(rgb(45, 40, 50)20%, rgb(64, 45, 95)40%, rgb(94, 75, 125)100%);
    background-size: cover;
    height: stretch;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    color: rgb(178, 149, 255);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    box-shadow:black 0px 0px 100px;
    font-family: serif;
}
h1{
    font-family: voided, fantasy, serif;
    font-weight: normal;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
    text-shadow:rgb(111, 106, 116) 0px 0px 30px;
 }
img{
    width: 100%;
}
nav li{
    float: left;
    text-align: center;
    width: 14%;
    font-size: 20px;
    margin-top: 10px;
    color:rgb(255, 94, 0);
}
div#nav{
    float: left;
}
div#title{
    clear: left;
}
div#logo{
    background-color: white;
    clear: left;
    float: left;
}
div#title{
    clear: left;
    text-align: center;
    font-size: 50px;
    padding-top: 35px;
    padding-bottom: 30px;
}
a{
    font-family: serif;
}
blockquote#special{
    margin-top: 150px;
}
blockquote{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 1px;
}
div#picture{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgb(101, 96, 105) 5px 0px 50px, rgb(101, 96, 105) -5px 0px 50px;
    background-color:rgb(232, 231, 233);
    filter: brightness(70%) saturate(80%) contrast(110%);
}
a:link, a:visited{
    color: white;
}
a:hover, a:active{
    color: grey;
}
p, blockquote{
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: .5em;
    border-radius: 25px;
    border-color:rgb(85, 81, 88);
    border-style: solid;
    border-width: .5px;
    box-shadow: rgb(101, 96, 105) 5px 0px 25px, rgb(101, 96, 105) -5px 0px 25px,
    inset rgb(101, 96, 105) 5px 0px 25px, inset rgb(101, 96, 105) -5px 0px 25px;
}
img#homePic{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    width: 85%;
    position: relative;
    top: 5px;
    left: 80px;
}
footer{
    text-align: center;
    color: white;
    padding-top: 30px;
}
iframe{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
}
article>p{
    margin-top: 150px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
}
h6{
    font-weight: normal;
}