@charset "utf-8";

@font-face{
    font-family:voided;
    src:url(voided.ttf) format('truetype'),
    url(voided.woff) format('woff'),
    url(voided.woff2) format('woff2');
}
html{
    
    background-color: rgb(178, 149, 255);
    background: linear-gradient(rgb(45, 40, 50)33%, rgb(64, 45, 95)67%, rgb(94, 75, 125)100%);
    background-size: cover;
    height: stretch;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: rgb(178, 149, 255);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
h1{
    font-family: voided, fantasy, serif;
    font-weight: normal;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
 }
img{
    background-color: white;
    width: 100%;
}
nav li{
    float: left;
    text-align: center;
    width: 14%;
    font-size: 20px;
    margin-top: 10px;
}
div#nav{
    float: left;
    background-color: green;
}
div#title{
    clear: left;
}
div#logo{
    clear: left;
    float: left;
}
div#title{
    clear: left;
    text-align: center;
    font-size: 50px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: green;
}
blockquote#special{
    margin-top: 150px;
}
blockquote{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: darkgreen;
    border-style: solid;
    border-radius: 10px;
}
div#picture{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
a:link, a:visited{
    color: white;
}
a:hover, a:active{
    color: grey;
}
p:first-of-type{
    text-align: center;
}
